<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.changetest" >

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".page1"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".page2"
            android:label="page2" 
            android:parentActivityName=".page1"
            >
            <intent-filter>
                <action android:name="myapp.action.test1" />

                <category android:name="cate1" />
                <category android:name="cate2" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".page3"
            android:label="page3" >
            <intent-filter>
                <action android:name="myapp.action.test1" />

                <category android:name="cate1" />
                <category android:name="cate2" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".MusicService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="power.action.BROADCAST" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
